.homepage__sidebar {
  background-color: #3c3c3c;
  width: 250px;
  color: aliceblue;
  list-style: none;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.homepage__sidebar-item {
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.homepage__sidebar-item:hover {
  border-left: 3px solid red;
}